/*--------Cascada de Proyecto de ley del Aborto-------*/

h1{
	font-family: 'PT Sans', sans-serif !important;
	font-size: 60px;
	font-style: bold;
	font-weight: 700;
	color: #ffffff;
}

h2{
	font-family: 'PT Sans', sans-serif !important;
	font-size: 40px;
	font-style: bold;
	font-weight: 700;
}